.navbar {
    justify-content: space-around; 
    top: 0; 
    left: 0;
    width: 100%;
    background-color: green;
    box-shadow: 5px 10px 30px rgba(0, 0, 0,0.02);
    z-index: 1;
  }
  
  .navitems h2 {
  text-align: left;
  font-size: 30px;
  display:inline-block;
  }
  
  .navitems button {
    float:right;
    margin-top:20px;
    padding:10px;
    width:200px;
        height: 44px;
        color: white;
        background-color: #1db096;
        border-radius: 20px;
        box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
  }
  .navitems button:hover{
    background-color: #23cdaf;
    transition: all ease 0.2s;
}
  
  .fetchbtn:hover {
    background-color:rgb(117, 153, 182); ;
  }
  
  .main {
    display:inline-grid;
    grid-template-columns: repeat(3, 1fr);
  
  }
  
  .avatar {
    border-radius: 50%;
  }
  
  .profile_cont {
    border-radius:10%;
   margin:20px;
   padding:20px;
   text-align: center;
    transition: transform .2s; 
    padding: 20px 10px;
    border-radius: 4px;
    background: crimson;
    font-family: Montserrat;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: rgb(0, 0, 0) -10px 8px 0px;
    margin-right: 25rem;
  }
  
  .profile_cont:hover {
    transform: scale(1.08);
  }
  
  
